.carousel-caption {
    bottom: 10.25rem !important;
}

.text-color {
    color: #fb5200;
}

.backgroundcolor {
    background-color: #fb5200;
    color: #ffffff;
}

.carousel-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.5;
    bottom: 0;
}