.carousel-caption {
    bottom: 10.25rem !important;
}

.text-color {
    color: #fb5200;
}

.backgroundcolor {
    background-color: #fb5200;
    color: #ffffff;
}


/* <main class="container">
<div class="text-center mx-auto w-100">
    <h1>Discover Our Popular Courses</h1>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
</div>
<section class="mb-5">
    <div>
        <div class="row">

            <div class="col-lg-6 col-md-12">
                <div class="card mb-3 border-0" style="max-width: 600px;">
                    <div class="row g-0">

                        <div class="col-md-4">
                            <img src="images/course/course-1.png" class="img-fluid w-100 rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold fs-4">Fundamental Of UI/UX Design</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card.</p>
                                <h6 class="fs-5 fw-bold text-color ">Price: $20</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card mb-3 border-0" style="max-width: 600px;">
                    <div class="row g-0">

                        <div class="col-md-4">
                            <img src="images/course/course-2.png" class="img-fluid w-100 rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold fs-4">Fundamental Of UI/UX Design</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card.</p>
                                <h6 class="fs-5 fw-bold text-color ">Price: $20</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card mb-3 border-0" style="max-width: 600px;">
                    <div class="row g-0">

                        <div class="col-md-4">
                            <img src="images/course/course-3.png" class="img-fluid w-100 rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold fs-4">Fundamental Of UI/UX Design</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card.</p>
                                <h6 class="fs-5 fw-bold text-color">Price: $20</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card mb-3 border-0" style="max-width: 600px;">
                    <div class="row g-0">

                        <div class="col-md-4">
                            <img src="images/course/course-4.png" class="img-fluid w-100 rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold fs-4">Fundamental Of UI/UX Design</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card.</p>
                                <h6 class="fs-5 fw-bold text-color ">Price: $20</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card mb-3 border-0" style="max-width: 600px;">
                    <div class="row g-0">

                        <div class="col-md-4">
                            <img src="images/course/course-5.png" class="img-fluid w-100 rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold fs-4">Fundamental Of UI/UX Design</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card.</p>
                                <h6 class="fs-5 fw-bold text-color ">Price: $20</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card mb-3 border-0" style="max-width: 600px;">
                    <div class="row g-0">

                        <div class="col-md-4">
                            <img src="images/course/course-6.png" class="img-fluid w-100 rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold fs-4">Fundamental Of UI/UX Design</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card.</p>
                                <h6 class="fs-5 fw-bold text-color ">Price: $20</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="w-100 d-flex justify-content-center">
        <a href="#" class="btn  fw-bold" style="background-color: #fb5200;color:#fff;">See More Cources</a>
    </div>
</section>
<section>
    <div class=" mb-5 mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-6">

                <img src="images/working.png" alt="" class="w-100">

            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card-body  mt-4  pt-4">
                    <h1 class="card-title fw-bold mb-2">Explore The elearning Institute</h1>
                    <p class="card-text mb-2 ">Coding is important because it is the bedrock upon which modern applications and software programs are built. Without coding, we couldn’t have some of the digital products that we enjoy today and that make our life much easier,
                        such as the payment application Venmo or the ride-hailing app Uber.</p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="fs-3 fw-bold">3.2k+</span>
                            <p>Online Course</p>
                        </div>
                        <div>
                            <span class="fs-3 fw-bold">3.2k+</span>
                            <p>Online Course</p>
                        </div>
                        <div>
                            <span class="fs-3 fw-bold">3.2k+</span>
                            <p>Online Course</p>
                        </div>
                    </div>
                    <a href="#" class="btn  fw-bold" style="background-color: #fb5200;color:#fff;">Read More</a>
                </div>

            </div>
        </div>
    </div>
</section>
</main> */